<h2>1 - Pensamento geral</h2>
<p>Pense sobre qualquer coisa relacionada a one piece, teorias.</p>
<br>
<h2>2 - Comentar arcos</h2>
<p>Feedbacks apenas para arcos de one piece</p>
<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/op/toughts/general" class="btn">Criar pensamento geral</a>
        <a href="/op/toughts/archs" class="btn">Comentar arcos</a>
    </div>
<h3>Seus Pensamentos: </h3>

{{#if toughts}}
    <ul>
        {{#each toughts}}
            <li>
                <span class="label">
                  <span class="title">Titulo:{{this.title}}</span>
                     <p>Conteudo:</p>
                     <span>{{this.content}}</span>
                </span>
                <span class="actions">
                    <a href="/op/toughts/edit" class="btn">Editar</a>
                </span>
            </li>
        {{/each}}

        {{#each wanoTought}}   
            <li>
                <span class="label">
                  <span class="title">Titulo:{{this.title}}</span>
                     <p>Conteudo:</p>
                     <span>{{this.content}}</span>
                </span>
                 <span>{{this.arch}}</span>
                <span class="actions">
                    <a href="/op/toughts/edit" class="btn">Editar</a>
                </span>
            </li>
        {{/each}}


    </ul>
{{else}}
    <p>Você ainda não tem pensamentos</p>
{{/if}}

</div>