<div class="dashboard">
    <h1 style="text-align: center;">Essa é sua dashboard <span>{{userName}}</span></h1>
    <h2> 1- Pensamento Geral</h2>
    <p>Pense sobre qualquer coisa relacionada a One Piece, teorias.</p>

    <h2> 2- Comentar Arcos</h2>
    <p>Feedbacks apenas para arcos de One Piece</p>

    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/op/toughts/general" class="btn">Criar Pensamento Geral</a>
        <a href="/op/toughts/archs" class="btn">Comentar Arcos</a>
    </div>

    <h3>Seus Pensamentos:</h3>

    {{#if toughts}}
    <ul class="thought-list">
        {{#each toughts}}
        <li class="thought-item">
            <div class="thought-content">
                <span class="label">Título: {{this.title}}</span>
                <p class="content">Conteúdo: {{this.content}}</p>
            </div>
            <div class="actions">
                <a href="/op/toughts/edit/{{this.id}}" class="btn">Editar</a>
            </div>
        </li>
        {{/each}}
    </ul>

    {{#if wanoTought}}
         <ul class="thought-list">
            {{#each wanoTought}}
            <li class="thought-item">
                <div class="thought-content">
                <span class="label">Título: {{this.title}}</span>
                <p class="content">Conteúdo: {{this.content}}</p>
                <span class="label">{{this.arch}}</span>
                </div>
            <div class="actions">
                <a href="/op/toughts/edit/{{this.id}}" class="btn">Editar</a>
            </div>
        </li>
        {{/each}}
         </ul>
        {{/if}}
    {{else}}
    <p>Você ainda não tem pensamentos</p>
    {{/if}}
</div>
